/.git
/.idea
/.vagrant
/.settings
npm-debug.log
.buildpath
.project
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
yarn-error.log
/resources/geoip
/resources/upload
.DS_Store
/.vscode
/.history
crowdin.yml
.env.bak

/.env.dev
/mysql_data/
/redis_data/
/backup_data/

/.env.prod

/.deploy.lock
